nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.list li{
    list-style: none;
}
.list a{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
}
.listPossition{
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
    padding: 10px 0px;
    border-bottom: 2px solid rgb(0, 0, 0);
    text-align: center;
}
.hidden{
    display: none;
}
@media only screen and (max-width: 768px) {
    nav{
        padding: 20px 20px;
    }
    .hidden{
        display: block;
    }
    .list{
        display: block;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .list a{
        margin: 10px 0px;
    }
    .listhidden{
        display: none;
    }
}